* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(76, 76, 76);
}
input,
input:focus,
input[type="text"] {
  border: none;
  border-bottom: 3px solid black;
  width: 360px;
  margin: 0px 20px;
  outline: none;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: rgb(108, 61, 61);
  width: 100px;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  list-style-type: none;
}
li {
  margin: 10px 0px;
}
p {
  color: red;
  font-size: 14px;
}
.card {
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(34, 33, 46, 0.16);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
.add-item {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.display-item {
  height: auto;
  font-size: 23px;
  padding: 10px;
  text-transform: capitalize;
}
.error {
  color: red;
  z-index: 20;
  position: absolute;
  top: 20px;
  left: 400px;
}
